*.class
*.jar
*.zip
*.log
.settings
.vscode
.classpath
.factorypath
.project
/target/
/logs/
/retrieveUnpackaged*/
/*.txt
/*.xlsx
/package.xml
/scratchOrg/
/ea2/
/.apt_generated/
/.apt_generated_tests/
