*.class
*.jar
*.zip
*.log
.classpath
.factorypath
.project
.settings/*
.vscode/*
bin/*
logs/*
target/*
/retrieveUnpackaged*/
/*.txt
/*.xlsx
/package.xml
/scratchOrg/
/ea2/
/.apt_generated/
/.apt_generated_tests/
